lab_0/lab_0.cache
lab_0/lab_0.hw
lab_0/lab_0.ip_user_files
lab_0/lab_0.runs
lab_0/lab_0.sim
lab_1/lab_1.cache
lab_1/lab_1.hw
lab_1/lab_1.ip_user_files
lab_1/lab_1.sim
lab_2/.Xil
lab_2/lab_2.cache
lab_2/lab_2.hw
lab_2/lab_2.sim
lab_2/lab_2.xpr
lab_2/vivado*